<p>price-table works!</p>

<p>Data: {{ priceData.ticker }}</p>

<table class="table table-striped">
    <tr *ngFor="let price of priceData.price_data">
        <td>{{ price[0] }}</td>
        <td>{{ price[1] }}</td>
    </tr>
</table>
