<h1>Hello World</h1>

<p>{{ title }}</p>

<button class="btn btn-warning" (click)="myFunction()">Do Call Function</button>

<h3>Two-Way Binding Example</h3>
<p>This is the current contents of myLabel: {{ myLabel }}</p>
<input type="text" [(ngModel)]="myLabel"/>

<a [href]="myLabel">A Link to Somewhere!</a>

<hr>
<app-image-url someParameter="A String"></app-image-url>

<hr>
<app-price-table></app-price-table>


